section.main section.timeline {
    padding-top: 15px;
}

section.main section.timeline .profile {
    width: fit-content;
}


/* For Testing Meia Queries */
/*
@media (min-width: 768px) {
    section.main section.timeline {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    section.main section.timeline {
        width: 70%
    }
}

@media (min-width: 1200px) {
    section.main section.timeline {
        width: 56%
    }
}
*/
/* For Testing Meia Queries */


section.main section.timeline .timeline-container {
    background: var(--blue-clr-400);
    padding: 15px 30px;
}

/**************************************  Share Section  **************************************/

section.main section.timeline section.share-post {
    display: grid; 
    grid-template-columns: auto 1fr;
    padding: 1.2em 0;
    grid-gap: 1.5em .8em;
}

section.main section.timeline section.share-post textarea.main-textarea {
    width: 100%;
    /* min-height: 100px; */
    resize: none;
    font-size: 1.15em;
    background: none;
    border: none;
    border: 1px solid var(--grey-clr-200);
}

section.main section.timeline section.share-post textarea.main-textarea:focus {
    outline: none;
}

section.main section.timeline section.share-post .functionalities {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 2;
}

section.main section.timeline section.other-posts-types .or {
    display: flex; 
    align-items: center;
}

section.main section.timeline section.other-posts-types .or hr {
    width: 100%; 
    border: 1px solid var(--blue-clr-100);  
}

section.main section.timeline section.other-posts-types .or span {
    margin: 0 1em;
}

section.main section.timeline section.other-posts-types .functionalities {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    padding: 1.2em 0; 
    background: var(--grey-clr-300);
    margin: 1em 0; 
}

/**************************************  Posts Section  **************************************/

section.main section.timeline section.posts {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

section.main section.timeline section.posts .post {
    padding: 15px;
    background-color: var(--blue-clr-300);
    border: 1px solid var(--grey-clr-200);
    width: 100%;
}

section.main section.timeline section.posts .post .post-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .8em;
}

section.main section.timeline section.posts .post .post-info .post-main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs {
    position: absolute; 
    top: -10px; 
    right: -10px;  
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background: none; */
    transition: var(--fast-transition); 
    color: var(--grey-clr-100); 
    background: none;
    display: none;
}

section.main section.timeline section.posts .post:hover .post-info .post-main button.post-funcs {
    display: block;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs:hover {
    background: var(--grey-clr-300);
    filter: brightness(1.3); 
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs > svg {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.1em;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model {
    position: absolute;
    top: 10px;
    right: 10px; 
    width: fit-content;
    background: var(--grey-clr-300);
    border: 1px solid var(--grey-clr-200); 
    z-index: 500;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model li button {
    width: 100%; 
    text-align: start;
    background: none;
    color: var(--white);
    padding: 1.2em 1em; 
    transition: var(--fast-transition);
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model li button:hover {
    background: var(--grey-clr-300); 
    filter: brightness(1.5); 
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model li button svg {
    position: relative;
    top: 3px;
    font-size: 1.2em;
    margin-right: .5em;
}


section.main section.timeline section.posts .post .post-info .post-main span.date {
    color: var(--grey-clr-100);
}

section.main section.timeline section.posts .post .post-info .post-main p.post-content {
    margin: .5em 0 1.5em;
    white-space: pre-wrap;
    word-break: break-all;
    width: 100%; 
}

section.main section.timeline section.posts .post .functionalities {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid var(--grey-clr-200);
}

section.main section.timeline section.posts .post .functionalities button {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: .5em;
    background: none;
    color: var(--white);
}

section.main section.timeline section.posts .post .functionalities button.like-post svg {
    position: relative; 
    top: -2px;
}

section.main section.timeline section.posts .post .functionalities button.comment-on-post svg {
    position: relative; 
    top: 3px;
}

section.main section.timeline section.posts .post .post-comments {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 1.5em 0;
    gap: 1.5em;
    border-top: 1px solid var(--grey-clr-200);
    font-size: .9em;
}

section.main section.timeline section.posts .post .post-comments .outer {
    margin: 0 auto;
}

section.main section.timeline section.posts .post .post-comments h3 {
    font-weight: 300;
}

section.main section.timeline section.posts .post .post-comments h3.no-comments {
    text-align: center;
    color: #ddd;
}

section.main section.timeline section.posts .post .post-comments div.comment {
    padding: 1em 1.5em;
    margin-bottom: 0px;
    background: var(--grey-clr-300);
    border-bottom: 1px solid var(--grey-clr-200);
}


section.main section.timeline section.posts .post .post-comments div.comment .profile-img {
    width: 2.2em;
    height: 2.2em;
}

section.main section.timeline section.posts .post .post-comments div.comment p.post-content {
    margin-bottom: 1em;
}

section.main section.timeline section.posts .post .post-comments div.comment button.like-comment {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: .5em;
    background: none;
    color: var(--white);
    width: fit-content;
}

section.main section.timeline section.posts .post .post-comments div.comment button.like-comment svg {
    position: relative; 
    top: -2px;
}

section.main section.timeline section.posts .post .post-comments form.comment {
    display: flex; 
    align-items: center;
    background: var(--blue-clr-400);
    width: 100%;
}

section.main section.timeline section.posts .post .post-comments form.comment textarea {
    flex: 1;
    resize: none;
    background: none;
    border: none;
}

section.main section.timeline section.posts .post .post-comments form.comment textarea:focus {
    outline: none;
}

section.main section.timeline section.posts .post .post-comments form.comment button.submit-comment {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: var(--white);
    background: none;
    font-size: 2rem;
}

