section.main {}

section.main section.timeline .profile {
    width: fit-content;
}

section.main > .container {
    display: flex; 
    /* justify-content: space-between; */
    justify-content: center; /* For Testing */
}

section.main section.timeline {
    padding: 0 55px;
    width: 100%; 
    padding-top: 15px; 
}

/* For Testing Meia Queries */

@media (min-width: 768px) {
    section.main section.timeline {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    section.main section.timeline {
        width: 70%
    }
}

@media (min-width: 1200px) {
    section.main section.timeline {
        width: 56%
    }
}

/* For Testing Meia Queries */

section.main section.timeline .timeline-container {
    background: var(--blue-clr-400);
    padding: 0 30px;
}

section.main section.timeline section.share-post {
    display: grid; 
    grid-template-columns: auto 1fr;
    padding: 1.2em 0;
    grid-gap: 1.5em .8em;
}

section.main section.timeline section.share-post textarea.main-textarea {
    width: 100%;
    /* min-height: 100px; */
    resize: none;
    font-size: 1.15em;
    background: none;
    border: none;
    border: 1px solid var(--grey-clr-200);
}

section.main section.timeline section.share-post textarea.main-textarea:focus {
    outline: none;
}

section.main section.timeline section.share-post .functionalities {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 2;
}

section.main section.timeline section.other-posts-types .or {
    display: flex; 
    align-items: center;
}

section.main section.timeline section.other-posts-types .or hr {
    width: 100%; 
    border: 1px solid var(--blue-clr-100);  
}

section.main section.timeline section.other-posts-types .or span {
    margin: 0 1em;
}

section.main section.timeline section.other-posts-types .functionalities {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    padding: 1.2em 0; 
    background: var(--grey-clr-300);
    margin: 1em 0; 
}

/****************************************************************************************************************************/

section.main section.timeline section.posts {
    display: flex; 
    flex-direction: column;
    gap: 30px;
}

section.main section.timeline section.posts .post {
    padding: 15px;
    background-color: var(--blue-clr-300);
    border: 1px solid var(--grey-clr-300);
}

section.main section.timeline section.posts .post .post-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .8em;
}

section.main section.timeline section.posts .post .post-info .post-main {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs {
    position: absolute; 
    top: -10px; 
    right: -10px;  
    height: 30px;
    width: 30px;
    border-radius: 50%;
    /* background: none; */
    transition: var(--fast-transition); 
    color: var(--grey-clr-100); 
    background: none;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs:hover {
    background: var(--grey-clr-300);
    filter: brightness(1.3); 
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs > svg {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 1.1em;
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model {
    position: absolute;
    top: 10px;
    right: 10px; 
    width: 150px; 
    background: var(--grey-clr-300);
    border: 1px solid var(--grey-clr-200); 
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model li button {
    transition: var(--fast-transition);
    width: 100%; 
    text-align: start;
    background: none;
    color: var(--white);
    padding: 1.2em 1em; 
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model li button:hover {
    background: var(--grey-clr-300); 
    filter: brightness(1.5); 
}

section.main section.timeline section.posts .post .post-info .post-main button.post-funcs + .funcs-model li button svg {
    position: relative;
    top: 3px;
    font-size: 1.2em;
    margin-right: .5em;
}

section.main section.timeline section.posts .post .post-info .post-main span.date {
    color: var(--grey-clr-100);
}

section.main section.timeline section.posts .post .post-info .post-main p.post-content {
    margin: .5em 0 1.5em;
}

section.main section.timeline section.posts .post .functionalities {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-top: 1px solid var(--grey-clr-200);
}

section.main section.timeline section.posts .post .functionalities button {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: .5em;
    background: none;
    color: var(--white);
}

section.main section.timeline section.posts .post .functionalities button.like-post svg {
    position: relative; 
    top: -2px;
}

section.main section.timeline section.posts .post .functionalities button.comment-on-post svg {
    position: relative; 
    top: 3px;
}

section.main section.timeline section.posts .post .post-comments {
    padding: 1.5em 0;
    border-top: 1px solid var(--grey-clr-200);
    font-size: .9em;
}
section.main section.timeline section.posts .post .post-comments h3 {
    font-weight: 300;
}

section.main section.timeline section.posts .post .post-comments div.comment {
    padding: 1.5em;
    margin-bottom: 0px;
    border-bottom: 1px solid var(--grey-clr-200);
}

section.main section.timeline section.posts .post .post-comments div.comment .profile-img {
    width: 2.2em;
    height: 2.2em;
}

section.main section.timeline section.posts .post .post-comments div.comment p.post-content {
    margin-bottom: 1em;
}

section.main section.timeline section.posts .post .post-comments div.comment button {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: .5em;
    background: none;
    color: var(--white);
    width: fit-content;
}

section.main section.timeline section.posts .post .post-comments div.comment button svg {
    position: relative; 
    top: -2px;
}

section.main section.timeline section.posts .post .post-comments form.comment {
    display: flex; 
    align-items: center;
    background: var(--blue-clr-400);
    margin-top: 1.5em;
}

section.main section.timeline section.posts .post .post-comments form.comment textarea {
    flex: 1;
    resize: none;
    background: none;
    border: none;
}

section.main section.timeline section.posts .post .post-comments form.comment textarea:focus {
    outline: none;
}

section.main section.timeline section.posts .post .post-comments form.comment button.submit-comment {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    color: var(--white);
    background: none;
    font-size: 2rem;
}

section.main nav.main-nav,
section.main section.working-rooms {
    position: sticky;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    padding-top: 15px; 
    display: none;
}

section.main nav.main-nav {
    flex-basis: 20%;
    border-right: 1px solid var(--grey-clr-200);
}

section.main section.working-rooms {
    flex-basis: 30%;
    border-left: 1px solid var(--grey-clr-200);
}

section.main nav.main-nav ul {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

section.main nav.main-nav ul li {
    padding: 1em .5em; 
    transition: var(--fast-transition);
    filter: brightness(1.3);
    cursor: pointer; 
}

section.main nav.main-nav ul li:hover {
    background: var(--grey-clr-300);
}

section.main nav.main-nav ul li a {
    display: flex; 
    align-items: center;
    gap: .7em;
    font-size: 1.2em;
}


section.main section.working-rooms > .working-rooms-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    gap: 1.7em;
}

section.main section.working-rooms h2 {
    font-weight: 400;
}

section.main section.working-rooms button.main-button {
    display: block;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0 auto;
}

section.main section.working-rooms .working-rooms-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.3em;
}

section.main section.working-rooms .working-rooms-projects .working-rooms-project {
    display: grid; 
    grid-template-columns: auto 1fr;
    grid-gap: .6em .7em;
    align-items: center;
    padding: .8em;
    border: 1px solid var(--grey-clr-200);
    transition: var(--fast-transition);
    background: var(--grey-clr-300)
}

section.main section.working-rooms .working-rooms-projects a.working-rooms-project:hover {
    filter: brightness(1.3)
}

section.main section.working-rooms .working-rooms-projects a.working-rooms-project .profile-img {
    width: 2.3em;
    height: 2.3em;
    grid-row: span 2;
}

section.main section.working-rooms .working-rooms-projects .working-rooms-project h4 {
    font-weight: 400;
}

section.main section.working-rooms .working-rooms-projects a.working-rooms-project .progress {
    display: flex; 
    align-items: center;
    gap: .4em;
}

section.main section.working-rooms .working-rooms-projects a.working-rooms-project .progress .progress-container {
    height: 1.3em;
    width: 100%;
    border: 1px solid var(--blue-clr-100);
}

section.main section.working-rooms .working-rooms-projects a.working-rooms-project .progress .progress-container span {
    display: block;
    height: 100%; 
    background: var(--blue-clr-100); 
}


