
.question-page {
    grid-column: span 2; 
    width: 70%;  
}

.question-page .question-container {
    padding: 50px 0;
    display: flex; 
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.question-page .question-info {
    display: flex;
    flex-direction: column; 
    gap: 2em;
}

.question-page .question-more-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--grey-clr-200);
    border-right: none;
    border-left: none;
    padding: 1em 0;
}

.question-page .question-more-info button.like-question {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7em;
    background: none;
    color: var(--white);
}

.question-page .question-functionalities {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.question-page .question-functionalities > * {
    padding: .5em;
    background: none;
    color: var(--grey-clr-100);
    font-size: .9em;
    transition: var(--fast-transition);
}

.question-page .question-functionalities > *:hover {
    color: var(--white);
}

.question-page .question-answers {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.question-page .question-answers .question-answer {
    display: grid; 
    grid-gap: 1em;
    padding: 1.5em;
    background: var(--grey-clr-300);
}

.question-page .question-answers .question-answer .profile {
    display: flex; 
    align-items: center;
    gap: .6em;
    width: fit-content;
}

.question-page form.share-answer {
    display: flex; 
    flex-direction: column;
}

.question-page form.share-answer textarea {
    margin-bottom: 1.1em;
    margin-top: .5em;
    resize: none;
}
.question-page form.share-answer > button {
    width: fit-content; 
    align-self: flex-end;
}