section.questions-page {
    paddin-top: 15px;
}

section.questions-page .questions-page-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    background: var(--blue-clr-400);
    padding: 15px 30px;
}

section.questions-page .header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

section.questions-page .filter-questions {
    height: 100px;
    border: 1px solid;
}

section.questions-page section.questions-list {
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background-color: var(--blue-clr-300);
    border: 1px solid var(--grey-clr-200);
    width: 100%;
}

.question p {
    --nbr-lines: 3; 
    margin: .2em 0 1em;
    font-size: .95em;
    color: #ccc;
    transition: var(--fast-transition);
    display: -webkit-box;
    -webkit-line-clamp: var(--nbr-lines); 
    -webkit-box-orient: vertical; 
    overflow: hidden;
}

.question:hover {
    filter: brightness(1.5);
}

.question .question-stats {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    color: #ccc;
}
