.projects-page .inner-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2em;
}

.projects-page .inner-container a.main-button {
    width: fit-content;
    align-self: center;
}

@media (max-width: 767px) {
    .projects-page .inner-container {
        grid-template-columns: 1fr;
    }
}

.current-projects,
.invites {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.current-projects h1,
.invites h1 {
    text-align: center;
}

.current-projects .projects-list,
.invites {
    display: flex;
    flex-direction: column;
    gap: 1em;
}