section.dashboard-page {
    padding: 50px 0;
}

section.dashboard-page .heading {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--grey-clr-200);
    margin-bottom: 1.5em;   
    padding-bottom: 1.7em;
}

section.dashboard-page .heading .project-title {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 0 1em;
}

section.dashboard-page .heading .project-title .profile-img {
    grid-row: span 2;
}


section.dashboard-page .heading .progress {
    display: flex;
    align-items: center;
    gap: .4em;
}

section.dashboard-page .heading .progress .progress-container {
    height: 1.3em;
    width: 300px;
    border: 1px solid var(--blue-clr-100);
}

section.dashboard-page .heading .progress .progress-container span {
    display: block;
    height: 100%;
    background: var(--blue-clr-100);
}

section.dashboard-page .project-nav-tabs ul.tabs {
    display: flex; 
    align-items: center;
    justify-content: center;
}

section.dashboard-page .project-nav-tabs ul.tabs li {
    padding: .8em 1.5em;
    margin: 0 1em;
    cursor: pointer;
    position: relative;
}

section.dashboard-page .project-nav-tabs ul.tabs li::before {
    content: '';
    height: 2px; 
    background: var(--main-clr);
    position: absolute; 
    bottom: 0;
    left: 0;
}

section.dashboard-page .project-nav-tabs ul.tabs li:hover::before,
section.dashboard-page .project-nav-tabs ul.tabs li.active::before {
    width: 100%; 
}

/****************************************** Project Members Tab ***************************************/

section.dashboard-page .dashboard-content ul.members-roles {
    display: flex; 
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    border-top: 1px solid var(--grey-clr-200);
    border-bottom: 1px solid var(--grey-clr-200);
}

section.dashboard-page .dashboard-content ul.members-roles li {
    padding: .8em 1.5em;
    margin: 0 1em;
    cursor: pointer;
}

section.dashboard-page .dashboard-content .members-list {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: .7em;
    width: 50%;
    margin: 0 auto;
}

section.dashboard-page .dashboard-content .members-list .project-member {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 0 .8em;
    border: 1px solid var(--grey-clr-200);
    padding: 1em;
}

section.dashboard-page .dashboard-content .members-list .project-member .profile-img {
    grid-row: span 2;
}

section.dashboard-page .dashboard-content .members-list .project-member span.username {
    font-size: 1.4em;
}

section.dashboard-page .dashboard-content .members-list .project-member span.user-role {
    font-size: .8em;
}