section.project-dashboard {
    padding-top: 15px;
}

section.project-dashboard .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
    padding-bottom: 1.7em;
    border-bottom: 1px solid var(--grey-clr-200);
}

section.project-dashboard .heading>button.main-button {
    padding-inline: 1.3em;
}

.heading button.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30.54px;
    padding-inline: 1.3em;
    font-size: 1.6em;
    background: none;
    color: var(--white);
}

section.project-dashboard .project-member,
section.project-dashboard .project-team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .454em;
    border: 1px solid var(--grey-clr-200);
}

section.project-dashboard .project-member .member-info {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 0 .8em;
}

section.project-dashboard .project-member .member-info.role a.profile-img {
    grid-row: span 2;
}


section.project-dashboard .project-member span.user-role {
    font-size: .8em;
}

section.project-dashboard .project-member .functionalities,
section.project-dashboard .project-team .functionalities {
    display: none;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

section.project-dashboard .project-member:hover .functionalities,
section.project-dashboard .project-team:hover .functionalities {
    display: flex;
}

section.project-dashboard .project-member .functionalities>button,
section.project-dashboard .project-team .functionalities>button {
    --dim: 2em;
    height: var(--dim) !important;
    width: var(--dim) !important;
    color: var(--white) !important;
    position: relative !important;
    background: none;
}


section.project-dashboard .project-member .functionalities>button>svg,
section.project-dashboard .project-team .functionalities>button>svg {
    position: absolute !important;
    top: calc(50% + 1px) !important;
    left: calc(50% + 1px) !important;
    transform: translate(-50%, -50%) !important;
    height: 60% !important;
    width: 60% !important;

}

/****************************************** Dashboard Page ***************************************/

section.project-dashboard>.heading .project-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: .5em 1em;
}

section.project-dashboard>.heading .project-title a.profile-img {
    grid-row: span 2;
}

section.project-dashboard>.heading .project-title .settings {
    display: flex;
    align-items: center;
    gap: 1em;
    grid-column-start: 2;
}

section.project-dashboard>.heading .project-title .settings>* {
    background: none;
    color: var(--grey-clr-100);
    transition: .2s;
}

section.project-dashboard>.heading .project-title .settings>*:hover {
    color: var(--white);
    text-decoration: underline;
}

section.project-dashboard>.heading .progress {
    display: flex;
    align-items: center;
    gap: .4em;
}

section.project-dashboard>.heading .progress .progress-container {
    height: 1.3em;
    width: 300px;
    border: 1px solid var(--blue-clr-100);
}

section.project-dashboard>.heading .progress .progress-container span {
    display: block;
    height: 100%;
    background: var(--blue-clr-100);
}

section.project-dashboard .project-nav-tabs ul.tabs {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.project-dashboard .project-nav-tabs ul.tabs li {
    padding: .8em 1.5em;
    margin: 0 1em;
    cursor: pointer;
    position: relative;
}

section.project-dashboard .project-nav-tabs ul.tabs li::before {
    content: '';
    height: 2px;
    background: var(--main-clr);
    position: absolute;
    bottom: 0;
    left: 0;
}

section.project-dashboard .project-nav-tabs ul.tabs li:hover::before,
section.project-dashboard .project-nav-tabs ul.tabs li.active::before {
    width: 100%;
}

/****************************************** Project Tasks Tab ***************************************/

section.tasks .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading button {
    align-self: center;
}

/****************************************** Project Members Tab ***************************************/


section.members>.heading {
    padding: 0;
}

section.members>.heading ul.members-roles {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.members>.heading ul.members-roles li {
    padding: .8em 1.5em;
    margin: 0 1em;
    cursor: pointer;
    position: relative;
}

section.members>.heading ul.members-roles li::before {
    content: '';
    height: 2px;
    background: var(--main-clr);
    position: absolute;
    bottom: 0;
    left: 0;
}

section.members>.heading ul.members-roles li.active::before,
section.members>.heading ul.members-roles li:hover::before {
    width: 100%;
}

section.members .members-list-container>* {
    width: 70%;
    margin-inline: auto;
}

section.members .members-list-container .overlay {
    width: 100%;
}

section.members .members-list-container .model {
    width: 500px;
}

section.members .members-list-container .members-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7em;
}

section.members .members-list-container .invite-members {
    display: flex;
    justify-content: center;
}

section.members .members-list-container .invite-members.active {
    justify-content: space-between;
    width: 100%;
}

section.members .members-list-container .invite-members .recommanded-members,
section.members .members-list-container .teams-list-container .team-members-list .search-members {
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    width: 70%;
}

section.members .members-list-container .invite-members .recommanded-members .recommanded-members-list button {
    background: none;
    border: none;
    color: var(--white);
    width: 100%;
    text-align: start;
}

section.members .members-list-container .invite-members.active .recommanded-members {
    width: 44%;
}

section.members .members-list-container .invite-members .recommanded-members input,
section.members .members-list-container .teams-list-container .team-members-list .search-members input {
    width: 50%;
    align-self: center;
}

section.members .members-list-container .invite-members.active .recommanded-members input {
    width: 100%;
}

section.members .members-list-container .invite-members form.invite-member-form {
    width: 49%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section.members .members-list-container .invite-members form.invite-member-form .roles {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

section.members .members-list-container .teams-list-container.active {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

section.members .members-list-container .teams-list-container .teams-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7em;
}

section.members .members-list-container .teams-list-container .teams-list>button {
    background: none;
    border: none;
    color: var(--white);
    text-align: start;

}

section.members .members-list-container .teams-list-container .teams-list .project-team {
    border: 1px solid var(--grey-clr-200);
    padding: .454em;
}

section.members .members-list-container .teams-list-container .team-members-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section.members .members-list-container .teams-list-container .team-members-list .search-members {
    margin-inline: auto;
}

section.members .members-list-container form.create-team-form {
    display: flex;
    align-items: center;
    gap: 1em;
}

section.members .members-list-container form.create-team-form>input {
    flex: 1;
}

/****************************************** Chat Tab ***************************************/

section.chat-container .chat-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-inline: auto;
    width: 50%;
    border: 1px solid var(--grey-clr-200);
    padding: 1em;
    height: 400px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
}

section.chat-container .chat-content .messages {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 1em;
    padding: .7em 1em;
}

section.chat-container .chat-content .messages .message {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .6em;
    padding: .4em;
}

section.chat-container .chat-content .messages .message .message-info {
    display: flex;
    flex-direction: column;
    gap: .3em;
    font-size: .9em;
}

section.chat-container .chat-content .messages .message .message-info .sender-username small {
    margin-inline: .7em;
    color: var(--grey-clr-100)
}

section.chat-container .chat-content .messages .message .message-info p.message-body {
    color: #ddd;
}

section.chat-container .chat-content form {
    display: flex;
    align-items: center;
    background: var(--blue-clr-400);
}

section.chat-container .chat-content form input {
    width: 100%;
}

section.chat-container .chat-content form button {
    all: unset;
    font-size: 1.3em;
    position: relative;
    top: 4px;
    margin-inline: 1em;
    cursor: pointer;
}

