.overlay {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0 0 0 / .8);
    z-index: 10000;
}

.model {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-height: 80%;
    background: var(--grey-clr-300);
    border: 1px solid var(--grey-clr-200);  
    padding: 1.2em;
    max-width: 500px;
    width: 100%; 
}

.model .model-container {
    padding-inline: .5em;
    max-height: 90%;
    overflow-y: auto;
}

.model .model-functionalities {
    display: flex;
    gap: 1em; 
    align-self: flex-end;
}
