/* Buttons */
.main-button {
    padding: .6em 3em;
    background: var(--primary-clr);
    color: var(--white);
    font-weight: 400;
    transition: var(--fast-transition);
}

.main-button.cancel-button {
    background: var(--grey-clr-200);
}

.main-button.disabled {
    filter: brightness(0.8);
    cursor: no-drop;
}

.link-button {
    color: #bbb;
    transition: var(--fast-transition);
}

.link-button:hover {
    color: var(--white);
    text-decoration: underline;
}

.secondary-button {
    padding: .6em 3em;
    color: var(--white);
    background: var(--blue-clr-400);
    border: 1px solid var(--blue-clr-100);
}

.main-button:not(.main-button.disabled):hover {
    filter: brightness(1.2);
}

/* Forms */

.main-form-wrapper {
    padding: 20px;
    border: var(--primary-border);
    max-width: 400px;
    width: 100%;
    margin: 100px 0;
}

.main-form-wrapper h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 3.2rem;
    margin-bottom: 40px;
}

form.secondary-form {
    max-width: 700px;
    width: 100%;
    margin-inline: auto;
}

form.main-form {
    display: flex;
    flex-direction: column;
}

form.main-form .form-message.error {
    background: var(--red-clr-300);
    padding: .7em;
    margin-bottom: .8em;
}

form.main-form input,
form.main-form textarea {
    margin-bottom: 1.1em;
}

form.main-form label {
    font-weight: 200;
    margin-bottom: 5px;
}

form.main-form button {
    margin-top: 10px;
    align-self: flex-end;
}

input.main-input,
textarea.main-textarea {
    padding: 10px;
    background: var(--primary-background-clr);
    color: var(--primary-text-clr);
    border: var(--primary-border);
    white-space: pre-wrap;
    display: block;
    resize: none;
    width: 100%;
}

input.main-input:focus,
textarea.main-textarea:focus {
    outline: 1px solid var(--secondary-clr);
}

input.main-input.error-field:focus,
textarea.main-textarea.error-field:focus {
    outline: 1px solid var(--red-clr-300);
}

textarea.main-textarea.code {
    font-family: monospace;
}

/* Lists */

ul.main-ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.main-ul li {
    padding: .8em 1.5em;
    cursor: pointer;
    position: relative;
}

ul.main-ul li::before {
    content: '';
    height: 2px;
    background: var(--main-clr);
    position: absolute;
    bottom: 0;
    left: 0;
}

ul.main-ul li:hover::before,
ul.main-ul li.active::before {
    width: 100%;
}