@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: #fff;
  --black: #000;

  --grey-clr-100: #8a939e;
  --grey-clr-200: #eef5fc33;
  --grey-clr-300: #161b22;

  --green-clr-100: #75db8a;
  --green-clr-200: #49a75a;
  --green-clr-300: #238636;

  --blue-clr-100: #1e70eb;
  --blue-clr-200: #445979;
  --blue-clr-300: #0d1117;
  --blue-clr-400: #010409;

  --orange-clr-300: #df3a11;
  --orange-clr-200: #e9795d;
  --orange-clr-100: #f7a692;

  --red-clr-100: #fe6767;
  --red-clr-200: #ff1f1f;
  --red-clr-300: #cb0101;

  --box-shadow: #000;
  --fixed-white: #fff;
  --fixed-black: #000;

  --fast-transition: .3s;
  --meduim-transition: .5s;
  --slow-transition: .7s;

  --rounded-border-1: 4px;
  --rounded-border-2: 10px;
  --rounded-border-3: 20px;

  --header-height: 57.19px;

  --main-clr: #445979;
}

:root[theme="light"] {
  --white: #000;
  --black: #fff;
  --blue-clr-100: #757575;
  --blue-clr-300: #fff;
  --blue-clr-400: whitesmoke;
  --grey-clr-100: #757575;
  --grey-clr-200: #c2c2c2;
  --grey-clr-300: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* background: #000; */
  -webkit-filter: invert(0);
  filter: invert(0);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--blue-clr-300);
  color: var(--white);
  font-size: 1.3rem;
  overflow-y: scroll;
}

#root {
  padding: 0 15px;
  margin-inline: auto;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.main-content {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inner-container {
  padding: 10px 0;
}

.inner-container.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}


.page-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


/* sreen <= 767 */
@media (max-width: 767px) {
  #root {
    width: 100%;
  }
}


/* 768 <= screen < 992 */
@media (min-width: 768px) {
  #root {
    /* width: 750px; */
    width: 97%;
  }
}


/* 992 <= screen < 1200 */
@media (min-width: 992px) {
  #root {
    /* width: 970px; */
    width: 95%
  }
}


/* 1200 <= screen */
@media (min-width: 1200px) {
  #root {
    /* width: 1170px; */
  }

  .app {
    flex-direction: row;
  }

  nav.nav-bar {
    width: 20%;
    height: 100vh;
  }

  section.working-rooms {
    width: 30%;
  }

  .inner-container {
    padding: 30px 0;
  }
}