@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Mochiy+Pop+P+One&family=Open+Sans:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
  /* width: 0; */
}

:root {
  --white: #fff;
  --black: #000;

  --grey-clr-100: #8a939e;
  --grey-clr-200: #eef5fc33;
  --grey-clr-300: #161b22;

  --green-clr-100: #75db8a;
  --green-clr-200: #49a75a;
  --green-clr-300: #238636;

  --main-clr: var(--blue-clr-200);

  --blue-clr-100: #1e70eb;
  --blue-clr-200: #445979;
  --blue-clr-300: #0d1117;
  --blue-clr-400: #010409;

  --orange-clr-300: #df3a11;
  --orange-clr-200: #e9795d;
  --orange-clr-100: #f7a692;

  --red-clr-100: #fe6767;
  --red-clr-200: #ff1f1f;
  --red-clr-300: #cb0101;

  --primary-clr: var(--blue-clr-200);
  --secondary-clr: var(--blue-clr-100);

  --primary-text-clr: var(--white);
  --secondary-text-clr: #bbb;

  --primary-border: 1px solid var(--grey-clr-200);

  --primary-background-clr: var(--blue-clr-400);
  --secondary-background-clr: var(--blue-clr-300);

  --box-shadow: #000;
  --fixed-white: #fff;
  --fixed-black: #000;

  --fast-transition: .3s;
  --meduim-transition: .5s;
  --slow-transition: .7s;
}

:root[theme="light"] {
  --primary-text-clr: #000;
  --primary-background-clr: whitesmoke;
  --secondary-background-clr: #fff;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* background: #000; */
  -webkit-filter: invert(0);
  filter: invert(0);
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--secondary-background-clr);
  color: var(--primary-text-clr);
  font-size: 1.3rem;
  overflow-y: scroll;
}