.login-form-wrapper form.login-form {
    margin-bottom: 15px;  
}

.login-form-wrapper a {
    display: block;
    width: fit-content;  
    margin: auto; 
    transition: var(--fast-transition); 
}
 
.login-form-wrapper a:hover {
    text-decoration: underline;
}