form.main-form button {
    align-self: unset;
}

.main-form-wrapper a {
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 1.2em;
    transition: var(--fast-transition); 
}

.main-form-wrapper a:hover {
    text-decoration: underline;
}