.profile {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: .8em;
    cursor: pointer;
}

.profile .profile-img {
    width: 3em; 
    height: 3em; 
    border-radius: 50%;
    border: 1px solid #fff; 
    background:lightseagreen ;
}