header { 
    padding: .7em 0; 
    background: var(--grey-clr-300);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

header input.search {
    width: 300px; 
}
