.column {
    min-width: 200px;
    flex: 1;
    padding: .8em .6em;
}


.kanban-board {
    display: grid;
    border: 1px solid var(--grey-clr-200);
    padding: .5em;
    gap: .8em;
    overflow-x: auto;

}

.kanban-board::-webkit-scrollbar {
    height: 8px;
}

.kanban-board::-webkit-scrollbar-thumb {
    background: var(--main-clr);
}


.kanban-board .headings,
.kanban-board .content {
    display: flex;
    gap: .8em;
    justify-content: space-around;
}

.kanban-board .headings h2,
.kanban-board .content .tasks-container {
    border: 1px solid var(--grey-clr-200);
}

.kanban-board .headings h2 {
    text-align: center;
}

.kanban-board .content .tasks-container {
    display: flex;
    flex-direction: column;
    gap: .8em;
}

.kanban-board .content .tasks-container .task {
    padding: .8em;
    border: 1px solid var(--grey-clr-200);
    position: relative;
    cursor: pointer;
    position: relative;
}

.kanban-board .content .tasks-container .task span.progress {
    display: block;
    height: 100%;
    background: var(--primary-clr);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .51934;
}

.kanban-board .content .tasks-container .member-task-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;

}

span.task-status small {
    display: inline-block;
    padding: .4em;
    background: #444;
}

.kanban-board .content .tasks-container .member-task-info .progress {
    display: flex;
    align-items: center;
    gap: 1em;
}

.range-input {
    display: block;
    flex: 1;
}

.kanban-board .content .tasks-container .member-task-info button {
    align-self: flex-end;
}

.kanban-board .content .tasks-container .admin-task-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.kanban-board .content .tasks-container .admin-task-info .info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.kanban-board .content .tasks-container .admin-task-info .info>div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.kanban-board .content .tasks-container .admin-task-info .info .title h2,
.kanban-board .content .tasks-container .admin-task-info .info .title input,
.kanban-board .content .tasks-container .admin-task-info .info .description p,
.kanban-board .content .tasks-container .admin-task-info .info .description textarea,
.kanban-board .content .tasks-container .admin-task-info .info .assignment .project-member {
    flex: 1;
}

.kanban-board .content .tasks-container .admin-task-info button.link-button {
    align-self: flex-start;
}

.kanban-board .content .tasks-container .admin-task-info .members-list {
    display: flex;
    flex-direction: column;
    gap: 1.7em;
}

.kanban-board .content .tasks-container .admin-task-info .members-list button.back-button {
    display: block;
    align-self: flex-start;
    font-size: 1.6em;
}


.kanban-board .content .tasks-container .admin-task-info .members-list .list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


/* for version 1 */
/* .range-input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; 
    appearance: none;
    opacity: 0;
}

span.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue-clr-100);
    opacity: .3;
    z-index: -1;
}

.set-progress-btn {
    all: unset;
    display: flex;
    align-items: center;
    gap: .2em;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 1.18em;
    cursor: pointer;
}

.set-progress-btn svg {
    display: block;
}

.set-progress-btn small {
    position: relative; 
    top: 1px; 
}*/