.profile-page section.hero {
    display: flex;
    align-items: center;
    gap: 2em;
}

.profile-page section.hero .user-pic {
    position: relative;
    border: 5px solid var(--white);
    border-radius: 50%;
}

.profile-page section.hero .user-pic button.upload-pic {
    --dim: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--dim);
    width: var(--dim);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-20%, -20%);
}

.profile-page section.hero .user-pic button.upload-pic svg {
    width: 100%;
    height: 100%;
}

.profile-page section.hero .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.profile-page section.hero .main .basic-info {
    display: flex;
    flex-direction: column;

}

@media (max-width: 767px) {
    .profile-page section.hero {
        flex-direction: column;
    }

    .profile-page section.hero .user-pic .profile-img {
        width: 100px !important;
        height: 100px !important;
    }

    .profile-page section.hero .main {
        align-items: center;
    }
}

.profile-page section.hero .main .basic-info .username {
    color: var(--grey-clr-100)
}

.profile-page section.hero .main a.edit-profile {
    color: #bbb;
    transition: var(--fast-transition);
}

.profile-page section.hero .main a.edit-profile:hover {
    color: var(--white);
    text-decoration: underline;
}

.profile-page section.hero .main nav {
    width: fit-content;
}

.profile-page section.hero .main nav ul {
    flex-wrap: wrap;
}

.profile-page section.profile-content {
    display: flex;
    justify-content: center;
    margin: 3em 0;
}

.profile-page section.profile-content .profile-content-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 60%;
    width: min(500px, 100%);
}