.profile-page {
    padding: 55px 0;
    grid-column: span 2;
}

.profile-page section.hero {
    display: flex;
    align-items: center;
    gap: 2em; 
}

.profile-page section.hero .user-pic {
    grid-row: span 2;
    position: relative;
    border: 5px solid var(--white);
    border-radius: 50%;
}

.profile-page section.hero .user-pic button.upload-pic {
    --dim: 2.5em; 
    display: flex; 
    align-items: center;
    justify-content: center;
    height: var(--dim);
    width: var(--dim);
    position: absolute; 
    bottom: 0;
    right: 0;
    transform: translate(-20%, -20%);
}

.profile-page section.hero .user-pic button.upload-pic svg {
    width: 100%; 
    height: 100%; 
}

.profile-page section.hero .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.profile-page section.hero .main .basic-info {
    display: flex;
    align-items: center;
    gap: 3em;
    
}

.profile-page section.hero .main .basic-info .user-name .username {
    color: var(--grey-clr-100)
}

.profile-page section.hero .main .basic-info a.main-button {
    padding-inline: 1em;
}

.profile-page section.hero .main nav {
    width: fit-content;
}

.profile-page section.profile-content {
    margin: 2em 0;
}